.alert {
  width: 50%;
  height: 50%;
}

.panel {
  background: rgba(60, 60, 60, 0.5);
  margin: 30px;
  border: 4px double grey;
  padding: 20px;
}

.btn-yes {
  color: #f45c42;
  background: rgba(0,0,0,0);
  border: solid 3px #f45c42;
  border-radius: 3px;
  height: 40px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-no {
  color: #41f48f;
  background: rgba(0,0,0,0);
  border: solid 3px #41f48f;
  border-radius: 3px;
  height: 40px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
