<div class="question-tile panel panel-default col col-sm-3">
  <h4><strong>Q: </strong>{{question.text}}</h4>
  <h4><strong>A: </strong>{{question.answer}}</h4>
  <button (click)="editQuestion(question.$key)" class="custom-button">Edit</button>
  <button (click)="deleteQuestion = true" class="custom-button">Delete</button>
  <div class="alert alert-danger" [hidden]="!deleteQuestion">
    <h3>Are you sure you want to delete this question?</h3>
    <button (click)="startDeletingQuestion(question)" class="custom-button">Yes</button>
    <button (click)="deleteQuestion = false" class="custom-button">No</button>
  </div>
</div>
