<div id="key-logo">
  <img src="./../assets/key.png" alt="key logo" class="icon">
  <p>Manage {{(deck | async)?.name}}</p>
</div>
<button (click)="deleteDeck = true" class="custom-button">Delete Deck</button>
<div class="alert alert-danger" [hidden]="!deleteDeck">
  <h3>Are you sure you want to delete this deck and all associated questions?</h3>
  <button (click)="startDeletingDeck(deckId)" class="custom-button">Yes</button>
  <button (click)="deleteDeck = false" class="custom-button">No</button>
</div>
<hr>

<app-question-form [deckId]="(deck | async)?.$key"></app-question-form>
<div *ngIf="questions">
  <h3>Questions:</h3>
  <app-question-tile *ngFor="let question of questions | async | deckId:deckId" [question]="question"></app-question-tile>
</div>
