<div id="key-logo">
  <img src="./../assets/user-decks.png" alt="logo" class="icon">
  <p id="header-text">Manage {{(deck | async)?.name}}</p>
</div>
<button (click)="deleteDeck = true" class="custom-button">Delete Deck</button>
<div class="alert alert-danger" [hidden]="!deleteDeck">
  <h3>Are you sure you want to delete this deck and all associated questions?</h3>
  <button (click)="startDeletingDeck(deckId)" class="custom-button">Yes</button>
  <button (click)="deleteDeck = false" class="custom-button">No</button>
</div>
<hr>

<app-question-form *ngIf="!questionToEdit" [deckId]="(deck | async)?.$key"></app-question-form>

<app-question-form *ngIf="questionToEdit" [questionToEdit]="questionToEdit"></app-question-form>

<div *ngIf="questions" id="questions">
  <h3>Questions:</h3>
  <hr>
  <app-question-tile *ngFor="let question of questions | async | deckId:deckId" [question]="question" (editSender)="editQuestion($event)"></app-question-tile>
</div>
