<div class="container">

<div align="center" id="header">
  <img src="./../assets/codependency_white_1.png" alt="app logo">
</div>
<hr>

<div class="row row-centered" id="top-row">
  <div class="col-sm-2 col-centered icon-div">
    <img src="./../assets/angular.png" alt="angular logo" class="icon">
  </div>

  <div class="col-sm-2 col-centered icon-div">
    <img src="./../assets/ember.png" alt="ember logo" class="icon">
  </div>

  <div class="col-sm-2 col-centered icon-div">
    <img src="./../assets/php.png" alt="php logo" class="icon">
  </div>

  <div class="col-sm-2 col-centered icon-div">
    <img src="./../assets/silex.png" alt="silex logo" class="icon">
  </div>

</div>

<div class="row row-centered" id="middle-row">

  <div class="col-sm-2 col-centered" id="drupal">
    <img src="./../assets/drupal.png" alt="drupal logo" class="icon">
  </div>

  <div class="col-sm-2 col-centered" id="html">
    <img src="./../assets/html.png" alt="html logo" class="icon">
  </div>

  <div class="col-sm-2 col-centered" id="css">
    <img src="./../assets/css.png" alt="css logo" class="icon">
  </div>

</div>

<div class="row row-centered" id="bottom-row">

  <div class="col-sm-2 col-centered" id="js">
    <img src="./../assets/js.png" alt="js logo" class="icon">
  </div>

  <div class="col-sm-2 col-centered" id="sql">
    <img src="./../assets/sql.png" alt="sql logo" class="icon">
  </div>

  <div class="col-sm-2 col-centered" id="general">
    <img src="./../assets/general.png" alt="general logo" class="icon">
  </div>
</div>
<hr>

<p id="login">...or login below for a more customizable experience:</p>

<a routerLink="">Home</a>
<a routerLink="new-deck">New Deck</a>
<router-outlet></router-outlet>
</div>
