<div class="container">


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Home</a>
        <span class="navbar-brand">|</span>
        <a class="navbar-brand" routerLink="new-deck">New Deck</a>
        <div class="nav-right">
          <span class="navbar-brand" routerLink="your-decks">{{user_displayName}}</span>
          <a class="navbar-brand">|</a>
          <a class="navbar-brand" (click)="logout()" id="log-out">Log out</a>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
</div>
