#header {
  font-family: Helvetica, sans-serif;
  color: white;
  height: 120%;
  width: 100%;
}

#header h3 {
  margin-top: 0px;
  margin-bottom: 40px;
}

#logo {
  height: 250px;
  width: auto;
}

#nav {
  width: 100%;
}

#login-info {
  float: right;
  display: inline-block;
  color: grey;
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 1em;
}

#log-out {
  color: #771F1F;
}

#nav-links {
  display: inline-block;
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 1em;
}

#nav-links a {
  color: grey;
}

hr {
  margin-top: 8px;
}

/*h3 em {
  color: #FF9900;
}*/
