body {
  background-color: #011E26;
}

#header {
  margin-top: 50px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
  text-align: center;
}

hr {
  border-color: grey;
}

#middle-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

#top-row {
  margin-top: 50px;
}

#bottom-row {
  margin-bottom: 50px;
}

#login {
  font-family: "Helvetica", Helvetica, sans-serif;
  color: white;
  font-size: 2em;
  text-align: center;
}

.icon {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
  /*box-shadow: 5px 5px 5px #888888;*/
}

#header {
  height: 120%;
  width: 100%;
}

/*.icon-div {
  background-color: white;
  border-radius: 5px;
}*/

.logo {
  height: 250px;
  width: auto;
}

#drupal {
  background-color: #0072b9;
}

.row p {
  color: white;
  padding-top: 12px;
  font-size: 1.5em;
}
