<div id="deck-logo">
  <img src="./../assets/deck.png" alt="deck logo" class="icon">
  <p id="header-text">Add New Deck</p>
</div>
<hr>

<form (ngSubmit)="submitForm(deck)" #deckForm="ngForm">
  <label for="name">Deck Name:</label>
  <input [(ngModel)]="deck.name" #name="ngModel" id="name" name="name" class="form-control" required maxlength="50">
  <div [hidden]="name.valid" class="alert alert-danger">
    A name is required
  </div>
  <button [disabled]="!deck.name" type="submit" class="custom-button">Name Deck</button>
</form>
