.deck-badge {
  width: 400px;
  height: 96px;
  background-color: rgba(220, 220, 220, 0.05);;
  border-radius: 10px;
  background-image: url("./../../assets/badge_white.svg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 15px;
}

.badge-title {
  height: 96px;
  width: 275px;
  margin-left: 105px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-style: italic;
}

.badge-author {
  color: white;
}

h3 {
  color: white;
  width: 100%;
  margin: 0px;
}
