<h3>All {{filter}} Questions</h3>
<button (click)="randomQuestion()" *ngIf="!selectedQuestion" class="btn btn-success">Start</button>
<app-flash-card *ngIf="selectedQuestion" [question]="selectedQuestion" (answeredSender)="answerQuestion($event)"></app-flash-card>
<div *ngFor="let deck of decks | async | filterByTag:deckIds">
  <div (click)="selectDeck(deck.$key);randomQuestion();" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{deck.name}}</h3>
    </div>
    <div class="panel-body">
      <small>{{deck.author}} {{deck.$key}}</small>
    </div>
  </div>
</div>
