#study-logo {
  text-align: center;
}

.button-random {
  width: 100%;
  text-align: center;
  height: 470px;
}

.drupal-icon {
  background-color: #0072b9;
}

h5 {
  color: white;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 35px;
}

#more-decks-hr {
  width: 50%;
}
