<div id="study-logo">
  <img src="./../assets/{{imageLink}}.png" alt="general logo" class="icon"  [ngClass]="{'drupal-icon': imageLink === 'drupal'}" (click)="selectedDeck=''">
  <p id="header-text"><span *ngIf="!selectedDeck">All {{filter}} Questions</span><span *ngIf="selectedDeck">Questions from {{(selectedDeck | async)?.name}}</span></p>
</div>

<hr>

<div class="button-random" *ngIf="!selectedQuestion">
  <button (click)="randomQuestion()" class="custom-button">Start</button>
</div>

<app-flash-card *ngIf="selectedQuestion" [question]="selectedQuestion" (answeredSender)="answerQuestion($event)"></app-flash-card>

<button *ngIf="!showDecks" (click)="showDecks = true">Show</button>
<button *ngIf="showDecks" (click)="showDecks = false">Hide</button>
<div *ngIf="showDecks">
  <h5>Other decks in {{filter}}: </h5>
  <hr id="more-decks-hr">
  <app-deck-tile *ngFor="let deck of decks | async | filterByTag:deckIds" [deck]="deck" (deckSelector)="selectDeck($event);randomQuestion();">
  </app-deck-tile>
</div>
