<div id="study-logo">
  <img routerLink="study/General" src="./../assets/general.png" alt="general logo" class="icon">
  <p>All {{filter}} Questions</p>
</div>
<hr>

<button (click)="randomQuestion()" *ngIf="!selectedQuestion" class="custom-button">Start</button>
<app-flash-card *ngIf="selectedQuestion" [question]="selectedQuestion" (answeredSender)="answerQuestion($event)"></app-flash-card>
<div *ngFor="let deck of decks | async | filterByTag:deckIds">
  <div (click)="selectDeck(deck.$key);randomQuestion();" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{deck.name}}</h3>
    </div>
    <div class="panel-body">
      <small>{{deck.author}}</small>
    </div>
  </div>
</div>
