/* You can add global styles to this file, and also import other style files */

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

body{
  padding-top: 3em;
  background-color: #011E26;
}

.alert {
  padding: 3px;
  padding-left: 10px;
}

button {
  color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 3px #6496c8;
  border-radius: 3px;
  height: 40px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button:hover {
  background: rgba(255,255,255,0.1);
}

.icon {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
  margin-top: -35px;
}

#header-text {
    color: white;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    margin-top: 10px;
}
