<div align="center" id="header">
  <img src="./../assets/codependency_white.svg" alt="app logo" id="logo">
  <h3>We <em>need</em> you to study with us.</h3>
</div>

<hr>

<div class="row row-centered" id="top-row">

  <div class="col-sm-2 col-centered" id="general">
    <img routerLink="study/General" src="./../assets/general.png" alt="general logo" class="icon">
    <p>General</p>
  </div>

  <div class="col-sm-2 col-centered" id="html">
    <img routerLink="study/HTML" src="./../assets/html.png" alt="html logo" class="icon">
    <p>HTML</p>
  </div>

  <div class="col-sm-2 col-centered" id="css">
    <img routerLink="study/CSS" src="./../assets/css.png" alt="css logo" class="icon">
    <p>CSS</p>
  </div>

</div>

<div class="row row-centered" id="middle-row">

  <div class="col-sm-2 col-centered icon-div">
    <img routerLink="study/PHP" src="./../assets/php.png" alt="php logo" class="icon">
    <p>PHP</p>
  </div>

  <div class="col-sm-2 col-centered icon-div">
    <img routerLink="study/Silex" src="./../assets/silex.png" alt="silex logo" class="icon">
    <p>Silex</p>
  </div>

  <div class="col-sm-2 col-centered">
    <img routerLink="study/Drupal" src="./../assets/drupal.png" alt="drupal logo" class="icon" id="drupal">
    <p>Drupal</p>
  </div>

  <div class="col-sm-2 col-centered" id="sql">
    <img routerLink="study/SQL" src="./../assets/sql.png" alt="sql logo" class="icon">
    <p>SQL</p>
  </div>

</div>

<div class="row row-centered" id="bottom-row">

  <div class="col-sm-2 col-centered" id="js">
    <img routerLink="study/JavaScript" src="./../assets/js.png" alt="js logo" class="icon">
    <p>JavaScript</p>
  </div>

  <div class="col-sm-2 col-centered icon-div">
    <img routerLink="study/Angular.js" src="./../assets/angular.png" alt="angular logo" class="icon">
    <p>Angular</p>
  </div>

  <div class="col-sm-2 col-centered icon-div">
    <img routerLink="study/Ember.js" src="./../assets/ember.png" alt="ember logo" class="icon">
    <p>Ember</p>
  </div>

<hr>

<a routerLink="your-decks">Your Decks</a>

</div>
