body {
  background-color: #011E26;
}

#header {
  font-family: Helvetica, sans-serif;
  color: white;
  height: 120%;
  width: 100%;
}

#header h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

#logo {
  height: 250px;
  width: auto;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
  text-align: center;
}

#middle-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

#top-row {
  margin-top: 50px;
}

#bottom-row {
  margin-bottom: 50px;
}

.icon-home {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
  margin-top: -20px;
}

#drupal {
  background-color: #0072b9;
}

.row p {
  color: white;
  padding-top: 10px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
